/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

/* Mon CSS */

html {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
    margin-right: 2%;
}

header img {
    width: 100%;
    max-width: 60px;
}

nav {
    display: flex;
    gap: 40px;
    text-decoration: none;
}

.navlink:hover {
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: #0065fc;
}

.navlink {
    display: flex;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: white;
    height: 50px;
    align-items: center;
}

h1 {
    margin-bottom: -5px;
    font-size: 22px;
}

section {
    padding: 20px;
}


p {
    font-size: 16px;
}


.search-button {
    display: flex;
    margin: 50px 0 50px 0;
    align-items: center;
}

.icon-location {
    border: 0;
    background-color: #f2f2f2;
    padding: 17px;
    border-radius: 13px 0 0 13px;
    /*width: 2%;*/
}

.icon-location i {
    color: #000000;
}

.search-bar input[type="search"] {
    padding: 15px;
    border-left: none;
    border-right: none;
    border-bottom-color: #f2f2f2;
    border-top-color: #f2f2f220;
}

.search-bar input[type="search"]::placeholder {
    color: black;
}

.search-bar input[type="search"]:focus {
    outline: none;
}

.button {
    padding: 15px;
    background-color: #0065fc;
    border: none;
    border-radius: 0 13px 13px 0;
    cursor: pointer;
}

.button button {
    border: none;
    color: white;
    font-size: medium;
    font-weight: 520;
    background-color: #0065fc;
    cursor: pointer;
}

.button .text {
    display: inline-block;
}

.button .icon {
    display: none;
}

.textclass {
    font-weight: bold;
    color: #000000;
    font-size: medium;
}

.text-after-icon {
    font-size: 16px;
}

.filters {
    display: flex;
    font-size: 13px;
    gap: 20px;
    margin-bottom: 30px;
}

.filter-buttons {
    display: flex;
    gap: 20px;

}

.filter-button {
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    background-color: white;
    border-radius: 30px;
    padding: 0 20px 0 20px;
    border: 2px solid #d9d9d9;
}

.filter-buttons :hover {
    background-color: #deebff;
}



.fa-info {
    border-radius: 30px;
    border: 1px solid #d9d9d9;
    padding: 4px 8px 5px 8px;

}

.icon-container {
    font-size: 11px;
    padding: 0 10px 0 0;
}

section {
    padding-bottom: 0;
}



/* Fin de mon CSS */

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    /* verif ces 2 dernières lignes en dessous (padding et margin*/
    padding: 0;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card,
.cardheb {
    /* Ajout de ma class .cardheb pour les cards Hebergements à Marseille*/
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img .cardheb img {
    /* définit la façon dont le contenu d'un élément remplacé (<img> ou <video> par exemple) doit s'adapter à son conteneur en utilisant sa largeur et sa hauteur.*/
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    /*flexbox*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hebergements-title {
    align-items: center;
    flex: 1 100%;
    /*La propriété CSS raccourcie définit la manière dont un élément flexible s'agrandira ou se rétrécira pour s'adapter à l'espace disponible dans son conteneur flexible.flex */
}

.hebergements-cards {
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}