/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Mon CSS */

html {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    margin-right: 2%;
}

header img {
    width: 100%;
    max-width: 60px;
}

nav {
    display: flex;
    gap: 40px;
    /* ce gap Peut poser problème pour le responsive mobile */
    text-decoration: none;
}

.navlink:hover {
    color: #0065fc;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: #0065fc;
}

.navlink {
    display: flex;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: white;
    height: 50px;
    align-items: center;
}

h1 {
    margin-bottom: -5px;
    font-size: 22px;
}

section {
    padding: 20px;
}

p {
    font-size: 16px;
    padding-top: 20px;
}

a {
    cursor: auto;
}


.search-button {
    display: flex;
    margin: 50px 0 50px 0;
    align-items: center;
}

.icon-location {
    border: 0;
    background-color: #f2f2f2;
    padding: 17px;
    border-radius: 13px 0 0 13px;

}

.icon-location i {
    color: #000000;
}

.search-bar input[type="search"] {
    padding: 15px;
    border-left: none;
    border-right: none;
    border-bottom-color: #f2f2f2;
    border-top-color: #f2f2f220;
}

.search-bar input[type="search"]::placeholder {
    color: black;
}

.search-bar input[type="search"]:focus {
    outline: none;
}

.button {
    padding: 16.5px;
    background-color: #0065fc;
    border: none;
    border-radius: 0 13px 13px 0;
    cursor: pointer;
}

.button button {
    border: none;
    color: white;
    font-size: medium;
    font-weight: 520;
    background-color: #0065fc;
    cursor: pointer;
}

.button .text {
    display: inline-block;
}

.button .icon {
    display: none;
}

.textclass {
    font-weight: bold;
    color: #000000;
    font-size: medium;
}

.text-after-icon {
    font-size: 16px;
}

.space-txt-after-icon {
    margin-bottom: 20px;
}

.filters {
    display: flex;
    font-size: 13px;
    gap: 20px;
    margin-bottom: 30px;
}

.filter-title h2 {
    margin-top: 15px;
    font-size: 18px;
}

.filter-buttons {
    display: flex;
    gap: 20px;
}

.filter-button {
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    background-color: white;
    border-radius: 30px;
    padding: 0 20px 0 20px;
    border: 2px solid #d9d9d9;
}

.filter-buttons :hover {
    background-color: #deebff;
}

.fa-info {
    border-radius: 30px;
    border: 1px solid #d9d9d9;
    padding: 4px 8px 5px 8px;
}

.icon-container {
    font-size: 11px;
    padding: 0 10px 0 0;
}

.icon-container i {
    font-size: 11px;
}

section {
    padding-bottom: 0;
}


/* Fin de mon CSS */

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    /* verif ces 2 dernières lignes en dessous (padding et margin*/
    padding: 0;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    /* ligne à verifier*/
}

a {
    color: inherit;
    text-decoration: none;

}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition: transform 0.3s ease;
    /* fluidité de transition hover */

}


.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    margin: 0;
}

.hebergements-title {
    align-items: center;
    /*La propriété CSS raccourcie définit la manière dont un élément flexible s'agrandira ou se rétrécira pour s'adapter à l'espace disponible dans son conteneur flexible.flex */
}

.hebergements-cards {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* si row de 3 cards à 31%, le restant pour 2 gaps : gap = (3*31) / 2 = 3.5 */
    gap: 3.5%;

}

.hebergements-cards .card-title {
    margin: 5px 0 5px;
}

/* contient des "a" et non des ".cardheb"... */
.hebergements-cards>a {
    margin-top: 33px;
    width: 31%;
}

.hebergements-cards .card-rating {
    margin: 2%;
    /* à vérifié, alignement étoile */
}

.hebergements-cards a {
    cursor: pointer;
}


.cardheb img {
    width: 100%;
    height: 124px;
    border: 5px solid white;
    border-bottom: 0;
    object-fit: cover;
    border-radius: 15px 15px 0 0;

}

.cardheb {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
    /* fluidité de transition hover */
}


.cardheb .card-content {

    flex-grow: 1;
    /* La div grandira dans la même proportion que la taille de la fenêtre  */
    padding: 0 15px 10px 15px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Effet de survol */
.cardheb:hover {
    transform: scale(1.05);
    /* Agrandir légèrement la carte au survol */
}

.card:hover {
    transform: scale(1.05);
    /* Agrandir légèrement la carte au survol */
}

.card-title {
    font-size: 16px;
    margin: 5px;
    font-weight: 700;
}

.card-txt {
    width: 100%;
}

.show-more {
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    margin-top: 20px;


}

.show-more>a {
    cursor: pointer;
}

.card-subtitle {

    font-size: 14px;
    font-weight: 400;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    object-fit: cover;
    /*-- La propriété CSS object-fit définit la façon dont le contenu d'un élément remplacé (<img> ou <video> par exemple) doit s'adapter à son conteneur en utilisant sa largeur et sa hauteur. --*/
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card-title {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;

}

.populaires-cards a {
    cursor: pointer;
}

/****** Activités à Marseille  ***********/





.marseille-activities .div-title {
    /* Mieux que width dans un contexte flexbox */
    padding: 15px 0 30px 0;
}

.activities-cards {
    display: flex;
    gap: 30px;
}

.cardact {
    flex: 1;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
    /* fluidité de transition hover */
}

.cardact img {
    width: 100%;
    border-bottom: 0;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    height: 380px;
}

.cardact .card-content {
    padding: 0 15px 10px 15px;
    margin: 0;
}

.cardact .card-title {
    margin: 20px 0 5px;
}

/* Effet de survol */
.cardact:hover {
    transform: scale(1.05);
    /* Agrandir légèrement la carte au survol */
}

.cardact a {
    cursor: pointer;
}

/****** Footer ***********/

.pdp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    padding: 20px;

}



.about-list,
.hebergements-list,
.assistance-list {
    list-style: none;


}

.pdp h3 {
    font-size: 18px;
    padding-bottom: 10px;

}

.pdp li {
    padding: 10px 0;
}

.pdp a {
    cursor: pointer;
}

.about-footer,
.hebergements-footer,
.assistance-footer {
    flex-grow: 1;
    padding: 0 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    body {
        background-color: red;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .cardact {
        position: relative;
        height: 250px;
    }

    .cardact img {
        position: absolute;
        border-radius: 20px;

    }

    .cardact a>img,
    .cardact a {
        display: block;
        height: 100%
    }

    .cardact .card-content {
        position: absolute;
        width: 100%;
        height: 73px;
        bottom: 0;
        background-color: white;
        border-radius: 0 0 20px 20px;

    }





    /* Mon Responsive */


    .marseille-activities {
        flex-flow: row;

    }

    /******************** FOOTER ********************/




}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {

        padding: 0;
    }


    body {
        background-color: orange;


    }

    .divlogo {
        display: flex;
        justify-content: center;
    }

    header {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    header>div,
    nav {
        width: 100%;

    }

    nav {

        margin: 30px 0 30px;
    }



    .navlink:hover {

        color: #0065fc;
        border-top: none;
        border-bottom: 3px solid #0065fc;


    }

    .navlink {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: center;
        position: relative;
        border-top: none;
        /*top: 3px;*/
    }


    /******************** button ********************/


    #search-button .text {
        display: none;
    }

    #search-button .fa-magnifying-glass {
        color: white;

    }

    .button {
        padding: 18px;
        border-radius: 15px;
        margin: -15px;
        box-shadow: 3px 3px 8px #666666;

    }

    .button:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;

    }



    /******************** Filtres ********************/

    .filters {
        margin: 0;
        display: inline-block;

    }

    h2 {
        margin-bottom: 20px;
    }



    /* .filter-title {
        margin-left: 30px;
    }

    .filter-buttons {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 30px 0;
    }

    .filter-button {
        display: flex;
        width: 45%;
        align-items: center;
        justify-content: flex-start;
        font-size: 130%; */
}